/* Paleta de Cores */
:root {
    --primary: #1b5934;
    --secondary: #f4bb58;
    --dark: #073017;
    --light: #ffffff;
}

/* Seletores */
body {
    font-family: Arial, sans-serif;
    background-color: var(--primary);
    color: var(--dark);
    margin: 0;
    padding: 0;
}

/* Utilidades */
.divisor {
    color: var(--light);
    max-width: 1300px;
    margin: auto;
}

.distance_divisor {
    margin-bottom: 100%;
}

.secondary {
    color: var(--secondary);
}

.dark_bg {
    background-color: var(--dark);
}

.light {
    color: var(--light);
}

.light_bg {
    background-color: var(--light);
}

/* Estilo do Header */
.header {
    display: flex;
    max-width: 1300px;
    height: 80px;
    margin: auto;
    background-color: var(--dark);
    color: var(--light);
    align-items: center;
    font-size: 20px;
    overflow: hidden;
}

.top_menu_container {
    padding: 5px;
    display: flex;
    align-items: center;
}

.top_menu_container .top_menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.top_menu_container .top_menu_item {
    margin-right: 20px;
    padding: 5px;
}

.top_menu_container .top_menu_item a, .top_menu_container .top_menu_item i {
    text-decoration: none;
    color: var(--light);
    margin-right: 5px;
}

.top_menu_container .top_menu_item:hover {
    background-color: var(--secondary);
    border-radius: 20px;
}

/* Estilo da Seção de Imagem Promocional */
.promotional_image_container {
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.promotional_image_container .promotional_image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilo da Seção de Informação */
.software_info_container {
    max-width: 100%;
    margin: auto;
    padding: 40px 20px;
}

.software_info_container .software_info_title {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 40px;
}

.software_info_container .info-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.software_info_container .info-content .connection-creation,
.software_info_container .info-content .free-offer,
.software_info_container .info-content .sharing-feature {
    flex: 0 0 300px;
    margin: 20px;
    padding: 20px;
    background-color: var(--secondary);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
}

.software_info_container .info-content .connection-creation:hover,
.software_info_container .info-content .free-offer:hover,
.software_info_container .info-content .sharing-feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.software_info_container .info-content h4 {
    color: var(--dark);
    margin-bottom: 20px;
}

.software_info_container .info-content p {
    color: var(--dark);
    margin-bottom: 0;
}

/* Estilo da Seção de Download */
.software_download_container {
    max-width: 100%;
    margin: auto;
    padding: 40px 20px;
}

.software_download_container .content-app {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.software_download_container .content-app .app-info {
    flex: 1;
    margin-right: 20px;
}

.software_download_container .content-app .app-info h2 {
    color: var(--secondary);
    margin-bottom: 20px;
}

.software_download_container .content-app .app-info p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.software_download_container .content-app .software_download_links {
    text-align: center;
}

.software_download_container .content-app .software_download_links a img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.software_download_container .content-app .software_download_links a img:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Estilo do Footer */
.dark_bg {
    background-color: var(--dark);
    color: var(--light);
    padding: 40px 20px;
    text-align: center;
}

.tutoriais_container ul {
    padding: 0;
    list-style-type: none;
}

.tutoriais_container ul li {
    margin-bottom: 10px;
}

.tutoriais_container ul li a {
    color: var(--light);
    text-decoration: none;
}

.tutoriais_container ul li a:hover {
    color: var(--secondary);
}
